<div class="article-body">
<h3>Communication</h3>

<p>When participating in communication of any kind (local, global, trade chat etc.), you are responsible for how you express yourself. You may not use language that could be offensive or vulgar to others.</p>

<p>Hate speech and discriminatory language is inappropriate, as is any obscene or disruptive language. Threatening or harassing another player is always unacceptable, regardless of language used. Violating any of these expectations will result in account restrictions. More serious and repeated violations will result in greater restrictions.</p>

<h3>Naming</h3>

<p>Names are subject to the same rules established above.&nbsp;Any name the player has the ability to customize—such as player names, and guild names—must be appropriate and inoffensive. Any name that violates our standards or disrupts the community will be changed, and additional limitations may be placed on the offending account per our discretion.</p>

<h3>Cheating</h3>

<p>You are responsible for how you and your account are represented in the game world. Cheating in any fashion will result in immediate action. Using third-party programs to automate any facet of the game, exploiting bugs, or engaging in any activity that grants an unfair advantage is considered cheating.</p>

<p>Exploiting other players is an equally serious offense. Real money transactions, account sharing, impersonation of other people, and anything else that may degrade the gaming experience for other players will receive harsh penalties.</p>
</div>